<h1>Welcome, <%= @user.name %>!</h1>
<h2>Here are the comments that you've posted:</h2>

    <% @posts.each do |post| %>
        <div class="post">
            <%= link_to post.course.name, course_path(post.course) %> at <%= link_to post.university.name, university_path(post.university) %> 
            <%= post.post_type %><br>
            <%= post.last_updated %><br></br>
            <%= post.user.name %> says:<br></br>
            <%= post.content %><br>
            <%= link_to "Edit Post", edit_course_post_path(@course, post) %><br></br>
        </div>
    <% end %>

<a id= "Log Out" rel="nofollow" data-method="delete" href="<%= '/signout' %>"/>Log Out</a>

