<h1>Professor Details: <%=@professor.name%></h1>
<h2><%= @professor.university.name %></h2>
<h2><%= @professor.department %> Department</h2>
<h2>Courses Taught:</h2>
<% @professor.courses.each do |course| %>
    <%= link_to course.name, course_path(course) %>
<% end %>


<%= link_to "Edit This Professor", edit_professor_path(@professor) %>


