<%= form_for @course, url: path do |f| %>
<% if @course.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@course.errors.count, "error") %>
            occurred. Please try again:
        </h2>

        <ul>
        <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>
<%= f.hidden_field :university_id %>
Course Number: <%= f.text_field :course_number %><br></br>
Course Name: <%= f.text_field :name %><br></br>
Department: 
<%= f.text_field :department, list: "course_departments_autocomplete" %><br></br>

    <datalist id="course_departments_autocomplete">
        <% @university.courses.attrib(:department).each do |department| %>
            <option value="<%= department %>">
        <% end %>
    </datalist>
Professor: 
    <datalist id="course_professors_autocomplete">
        <% @university.courses.attrib(:professor).each do |professor| %>
            <option value="<%= professor %>">
        <% end %>
    </datalist>
<%= f.text_field :professor, list: "course_professors_autocomplete" %><br></br>

<%= f.submit %>
<% end %>



