<h1><%= @university.name %></h1>
<p><%= "#{@university.city} #{@university.state}" %><br>
<%= @university.country %></p>

See an error? <%= link_to "Edit This University", edit_university_path(@university) %>

<h2>Course Index</h2>

<%= render partial: 'search', locals: {path: university_courses_path, placeholder: "Search Courses", var: @courses, model_all: Course.all} %>

<p>Select course name for more details.</p>
<table>
    <tr>
        <th>Course Name</th>
        <th>Course Number</th>
        <th>Department</th>
        <th>Professor</th>
    </tr>
    <% @courses.each do |course| %>
    <tr>
        <td><%= link_to course.name, course_posts_path(course) %></td>
        <td><%= link_to course.course_number, course_posts_path(course) %></td>
        <td><%= course.department %></td>
        <td><%= course.professor %></td>
    </tr>
    <% end %>
</table>

<br></br>

<p>Don't see your course? <%= link_to "Add A Course", new_university_course_path(@university) %></p>
