<h1><%= @university.name %></h1>
<p><%= "#{@university.city} #{@university.state}" %><br>
<%= @university.country %></p>

See an error? <%= link_to "Edit This University", edit_university_path(@university) %>

<h2>Course Index</h2>

<%= form_tag(university_courses_path(@university), :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @courses.blank? %>
    <p><strong>No Courses</strong></p>
<% elsif @courses.count < @university.courses.count %>
    <%= form_tag(university_courses_path(@university), :method => "get", id: "search-form") do %>
        <p><%= submit_tag "Clear Search Results" %></p>
    <% end %>
<% end %>

<p>Select course name for more details.</p>
<table border="1">
    <tr>
        <th>Course Name</th>
        <th>Course Number</th>
        <th>Department</th>
        <th>Professor</th>
    </tr>
    <% @courses.each do |course| %>
    <tr>
        <td><%= link_to course.name, course_posts_path(course) %></td>
        <td><%= link_to course.course_number, course_posts_path(course) %></td>
        <td><%= course.department %></td>
        <td><%= course.professor %></td>
    </tr>
    <% end %>
</table>

<br></br>

<p>Don't see your course? <%= link_to "Add A Course", new_university_course_path(@university) %></p>
