<%= link_to "Back to University/Course Index", universities_path %><br>

<div class="post_index">
        <h1><%=@course.course_number%> <%=@course.name%></h1>
        <h2><%= @course.university.name %></h2>
        <h2>Department: <%= @course.department %></h2>
        <h2>Professor: <%= @course.professor %></h2>

        See an error? <%= link_to "Edit This Course", edit_course_path(@course) %><br></br>

    <h1>Posts</h1><br>

    <h2>Create a New Post:</h2>
    <%= form_for @post, url: course_posts_path(@course), html: {id: "new-post"} do |f| %>
        <div id="error_explanation">
            <% if @post.errors.any? %>
                <h2>
                    <%= pluralize(@post.errors.count, "error") %>
                    occurred. Please try again:
                </h2>

                <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            <% end %>
        </div>
        <%= f.hidden_field :course_id %>
        <%= f.hidden_field :user_id %>
        Type of Post:<br> <%= f.select :post_type, post_types %><br></br>
        Message:<br><%= f.text_area :content %><br>

        <%= f.submit %>
    <% end %><br>

    <div>
        <h3>Filter Posts By Type:</h3>
        <%= form_tag(course_posts_path(@course), method: "get") do %>
            <%= select_tag :post_type_filter, options_for_select(post_types), include_blank: true %>
            <%= submit_tag "Filter" %>
        <% end %>

        <% if @posts.count < @course.posts.count %>
            <%= form_tag(course_posts_path(@course), :method => "get") do %>
                <p><%= submit_tag "Clear Search Results" %></p>
            <% end %>
        <% end %><br>
    </div>

    <%= link_to 'Create a New Post', new_course_post_path(@course) %><br><br><br>
    <div class="post-list">
        <% @posts.each do |post| %>
            <div class="post" id="<%=post.id%>">
                <%= post.created_at %><br>
                <%= post.post_type %><br>
                Written by: <%= post.user.name %><br></br>
                <%= post.content %><br></br>
                <%= link_to "See Post Details", course_post_path(@course, post) %>
                <% if post.user == current_user %>
                    <br></br><%= link_to "Edit Post", edit_course_post_path(@course, post) %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>


