<%= link_to "Back to Course Index", university_courses_path(@course.university) %><br>

<h1><%=@course.course_number%> <%=@course.name%></h1>
<h2><%= @course.university.name %></h2>
<h2>Department: <%= @course.department %></h2>
<h2>Professor: <%=@course.professor%></h2>

See an error? <%= link_to "Edit This Course", edit_course_path(@course) %><br></br>


<h1>Posts</h1>

<%= link_to 'Create a New Post', new_course_post_path(@course) %><br><br><br>

<% @posts.each do |post| %>
    <div class="post">
        <%= post.last_updated %><br>
        <%= post.post_type %><br>
        Written by: <%= post.user.name %><br></br>
        <%= post.content %><br></br>
        <% if post.user == current_user %>
            <%= link_to "Edit Post", edit_course_post_path(@course, post) %><br></br>
        <% end %>
    </div>
<% end %>

