<%= link_to "Back to Post Index for This Course", course_posts_path(@course) %><br></br>
<a href="#" class="js-prev-course" >Previous Post</a>
<a href="#" class="js-next-course" data-id="<%= @post.id %>" data-courseId ="<%= @course.id %>" data-numPosts="<%= @course.posts.length %>">Next Post</a>

<div class="post-details">
    <p class="post-created">Created: <%= @post.created %></p>
    <p class="post-updated">Last Updated: <%= @post.last_updated %></p>
    <p class="post-type">Post Type: <%= @post.post_type %></p>
    <p class="post-user-name">Written by: <%= @post.user.name %></p><br></br>
    <p class="post-content"><%= @post.content %></p><br></br>
</div>


