<%= form_for(@university) do |f| %>
<% if @university.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@university.errors.count, "error") %>
            occurred. Please try again:
        </h2>

        <ul>
        <% @university.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>
University Name: <%= f.text_field :name %><br></br>
City: <%= f.text_field :city %><br></br>
State: <%= f.select :state, us_states, :include_blank => true %> (Leave blank if university is outside U.S.)
<br></br>
Country: 
  <datalist id="countries_autocomplete">
    <% University.attrib(:country).each do |country| %>
      <option value="<%= country %>">
    <% end %>
  </datalist>
<%= f.text_field :country, list: "countries_autocomplete" %><br></br>
<%= f.submit %>
<% end %>