<h1>University Index</h1>

<%= form_tag(universities_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Universities" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @universities.blank? %>
    <p>There are no recipes containing the term <%= params[:search] %>.</p>
<% elsif @universities.count < University.all.count %>
    <%= form_tag(universities_path, :method => "get", id: "search-form") do %>
        <p><%= submit_tag "Clear Results", :name => nil %></p>
    <% end %>
<% end %>

<p>Select university name for more details.</p>

<table>
    <tr>
        <th>University Name</th>
        <th>City</th> 
        <th>State</th>
        <th>Country</th>
    </tr>
    <% @universities.each do |u| %>
    <tr>
        <td><%= link_to u.name, university_path(u) %></td>
        <td><%=u.city%></td> 
        <td><%=u.state%></td>
        <td><%=u.country%></td>
    </tr>
    <% end %>
</table>

<br></br>

<p>Don't see your university? <%= link_to "Add A New University", new_university_path %></p>
