<!DOCTYPE html>
<html>
  <head>
    <title>University Universe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Home", root_path %>
      <% if logged_in? %>
        <%= link_to current_user.name, user_path(current_user) %>
        <%= link_to "Universities", universities_path %>
        <%= link_to "Log Out", signout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", signin_path %>    
        <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </div><br>
    
    <!-- content -->
    <div class="container"  role="main">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
